
:root {
    --white: #f2f2f2;
    --dark-white: #a8a8a8;
    --black: #18181a;
    --gray: #2a2a2a;

    --header-height: 4rem;
    --nav-height: 6rem;
}

* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

img {
    user-select: none;
}

body {
    background-color: var(--gray);
    color: var(--white);

    width: 100vw;
    max-width: 100%;

    overflow: hidden;

    &>header {
        width: 100vw;
        max-width: 100%;
        height: var(--header-height);

        background-color: var(--black);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        &>#logo {
            height: calc(0.8 * 3rem);
            filter: invert(100%) sepia(77%) saturate(27%) hue-rotate(262deg) brightness(113%) contrast(90%);

            position: absolute;
            left: 2ch;
        }

        &>.search-box {
            font-family: inherit;
            font-size: 1.2rem;

            display: inline-block;
            text-align: left;
            text-decoration: none;

            border: none;
            border-radius: 0.6rem;

            padding: 0.6rem;
            width: 50vw;

            background: var(--gray);
            color: var(--white);

            cursor: pointer;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background-image: url(assets/icons/icons8-search-120.png);
            background-size: 1.5rem;
            background-repeat: no-repeat;
            background-position: calc(100% - 1ch);
        }
    }

    &>main {
        width: 100vw;
        max-width: 100%;

        overflow-y: scroll;

        height: calc(100svh - var(--header-height) - var(--nav-height));

        &>.centered-button-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            width: 100vw;
            max-width: 100%;
            height: 1.5rem;

            margin-bottom: .5rem;
            margin-top: .5rem;

            &>button {
                text-decoration: none;
                text-align: center;

                display: inline-block;

                border: none;
                border-radius: 0.6rem;

                padding: 0.5rem;
                margin: 0;

                background: var(--black);
                color: var(--white);

                cursor: pointer;

                -webkit-appearance: none;
                -moz-appearance: none;

            }
        }

        &>#no-fav-notification {
            font-size: 1.3rem;
            text-align: center;

            width: 100%;

            margin-top: 2rem;

            filter: brightness(0.5);
        }


        &>ul {
            width: 100vw;
            max-width: 100%;
        }

        &>#new-episodes {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            gap: 0.7rem;

            &>li {
                box-sizing: border-box;

                display: grid;
                grid-template-columns: 15ch auto;
                grid-template-rows: 1.4rem 3.4rem 1rem 3.4rem 2rem;

                padding: 1rem;

                border-bottom: 2px solid var(--black);

                width: 100svw;
                max-width: 100%;

                overflow: hidden;

                &>img {
                    background-color: var(--gray);

                    width: 100%;
                    aspect-ratio: 3/2;
                    object-fit: contain;
                    object-position: center;

                    grid-column: 1;
                    grid-row: 1 / 3;
                }

                &>.custom-audio {
                    background-image: linear-gradient(var(--white), var(--white));
                    background-repeat: no-repeat;
                    background-size: 3%;

                    align-self: center;

                    width: 100%;
                    height: .4rem;
                    border-radius: 1rem;
                }

                &>.program-name {
                    grid-column: 2;
                }

                & .title {
                    grid-column: 2;
                    grid-row: 2 / 3;

                    font-weight: bold;

                    overflow: hidden;
                }

                & .description {
                    grid-column: 1 / 3;
                    grid-row: 4;

                    overflow: hidden;
                }

                &>.meta {
                    align-self: flex-end;

                    grid-column: 1 / 3;
                    grid-row: 5;


                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    color: var(--dark-white);
                    font-size: 0.7rem;
                }
            }
        }

        &>#programs {
            box-sizing: border-box;
            padding-left: 4ch;
            padding-right: 1ch;

            display: flex;
            flex-flow: column nowrap;

            &>li {
                list-style-type: none;
                text-wrap: nowrap;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                width: 100%;

                margin-top: .4rem;
                margin-bottom: .4rem;

                &>.heart {
                    margin-right: 2ch;

                    height: 2rem;
                    width: 2rem;

                    cursor: pointer;

                    filter: invert(78%) sepia(85%) saturate(7%) hue-rotate(129deg) brightness(119%) contrast(90%);
                }

                &>.liked {
                    filter: invert(24%) sepia(49%) saturate(4444%) hue-rotate(343deg) brightness(82%) contrast(103%);
                }

                &>p {
                    overflow: scroll;
                }
            }
        }
    }

    &>nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 100vw;
        max-width: 100%;

        height: var(--nav-height);

        background-color: var(--black);

        &>a>img {
            height: 3rem;
            width: 3rem;

            filter: invert(78%) sepia(85%) saturate(7%) hue-rotate(129deg) brightness(119%) contrast(90%);
        }
    }
}