:root {
    --background: #121212;
    --dark-low-contrast: #1a1a1a;
    --dark-low-contrast-2: #303030;
    --light: #f7f7f7;
    --light-low-contrast: #797979;
    --accent: #ffd900;

    --header-height: 4rem;
    --nav-height: 4.5rem;
    --audio-player-height: 3rem;
}

* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

@-moz-document url-prefix() {
    * {
        font-family: -moz-use-system-font;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

img {
    user-select: none;
}

body {
    background-color: var(--background);
    color: var(--light);

    width: 100vw;
    max-width: 100%;

    overflow: hidden;

    &>header {
        width: 100vw;
        max-width: 100%;
        height: var(--header-height);

        background-color: var(--background);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        &>#logo {
            height: calc(0.8 * 3rem);
            filter: invert(100%) sepia(4%) saturate(2609%) hue-rotate(293deg) brightness(117%) contrast(94%);

            position: absolute;
            left: 2ch;
        }

        &>.search-box {
            font-family: inherit;
            font-size: 1.2rem;

            display: inline-block;
            text-align: left;
            text-decoration: none;

            border: none;
            border-radius: 0.6rem;

            padding: 0.6rem;
            width: 50vw;

            background: var(--dark-low-contrast);
            color: var(--light);

            cursor: pointer;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background-image: url(assets/icons/icons8-search-120.png);
            background-size: 1.5rem;
            background-repeat: no-repeat;
            background-position: calc(100% - 1ch);
        }
    }

    &>main {
        width: 100vw;
        max-width: 100%;

        overflow-y: scroll;

        height: calc(100svh - var(--header-height) - var(--nav-height) - var(--audio-player-height));

        &>#no-fav-notification {
            font-size: 1.3rem;
            text-align: center;

            width: 100%;

            margin-top: 2rem;

            color: var(--light-low-contrast)
        }

        &>ul {
            width: 100vw;
            max-width: 100%;
        }

        &>#programs {
            box-sizing: border-box;
            padding-left: 4ch;
            padding-right: 1ch;

            display: flex;
            flex-flow: column nowrap;

            &>li {
                list-style-type: none;
                text-wrap: nowrap;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                width: 100%;

                margin-top: .4rem;
                margin-bottom: .4rem;

                &>.heart {
                    margin-right: 2ch;

                    height: 2rem;
                    width: 2rem;

                    cursor: pointer;

                    filter: invert(78%) sepia(85%) saturate(7%) hue-rotate(129deg) brightness(119%) contrast(90%);
                }

                &>.liked {
                    filter: invert(24%) sepia(49%) saturate(4444%) hue-rotate(343deg) brightness(82%) contrast(103%);
                }

                &>p {
                    overflow: scroll;
                }
            }
        }

        &>#new-episodes {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            gap: 0.7rem;

            &>li {
                box-sizing: border-box;

                padding: 1rem;
                padding-bottom: 0rem;

                border-bottom: 1px solid var(--dark-low-contrast-2);

                display: grid;
                grid-template-columns: 5fr 10fr;
                grid-template-rows: 1.5rem 4.5rem 1.8rem 2.7rem;

                &>p {
                    overflow-y: hidden;
                    height: 100%;
                }

                &>.img-wrapper {
                    grid-column: 1;
                    grid-row: 1 / 3;

                    height: max-content;
                    width: 100%;

                    display: flex;
                    flex-flow: column nowrap;
                    gap: 0.3rem;

                    &>.episode-image {
                        justify-self: center;

                        width: 100%;
                        object-fit: contain;

                        border-radius: 0.5rem;
                    }

                    &>.progress-bar {
                        width: 100%;
                        height: 0.5vh;

                        border-radius: 0.5rem;

                        background-image: linear-gradient(var(--light), var(--light));
                        background-repeat: no-repeat;
                    }
                }


                &>.program-name {
                    grid-column: 2;
                    grid-row: 1;

                    margin-left: 1ch;

                    align-self: center;

                    font-size: 0.8rem;

                    height: max-content;
                }

                &>.title {
                    grid-column: 2;
                    grid-row: 2;

                    margin-left: 1ch;

                    font-size: 0.8rem;

                    font-weight: bold;
                }

                &>.description {
                    grid-column: 1 / 3;
                    grid-row: 3;

                    font-size: 0.7rem;


                }

                &>.meta-data {
                    grid-column: 1 / 3;
                    grid-row: 4;

                    font-size: 0.7rem;
                    color: var(--light-low-contrast);

                    width: max-content;
                    height: max-content;

                    align-self: flex-end;

                    margin-bottom: .7rem;
                }

                &>.play-button {
                    grid-column: 2;
                    grid-row: 4;

                    justify-self: end;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    align-self: center;

                    height: 70%;
                    aspect-ratio: 1/1;

                    border-radius: 100vw;
                    background-color: var(--light);

                    user-select: none;
                    cursor: pointer;

                    &>p {
                        color: var(--background);

                        text-align: center;

                        height: 2ch;
                        width: 2ch;

                        padding-left: 10%;
                        padding-bottom: 14%;

                        font-size: 100%;
                    }
                }

                &>.context-menu {
                    grid-row: 1;
                    grid-column: 2;

                    justify-self: end;
                    align-self: center;

                    height: 2ch;
                    width: 2ch;

                    transform: rotate(90deg);
                    color: var(--light-low-contrast);
                }
            }
        }
    }

    &>#main-audio-player {
        height: var(--audio-player-height);

        background-color: var(--dark-low-contrast);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &>nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 100vw;
        max-width: 100%;

        height: var(--nav-height);

        background-color: var(--background);

        &>a>img {
            height: 3rem;
            width: 3rem;

            filter: invert(78%) sepia(85%) saturate(7%) hue-rotate(129deg) brightness(119%) contrast(90%);
        }
    }
}

#context-menu {
    display: flex;
    flex-flow: column nowrap;

    gap: 0.2rem;

    padding: 0.5rem;
    width: max-content;
    max-width: 50%;

    background-color: var(--dark-low-contrast);

    border-radius: 0.5rem;
    object-fit: contain;

    
    &>button {        
        text-align: left;

        padding: 0.3rem;

        color: var(--light);

        background-color: var(--dark-low-contrast);

        border: none;
    }
}