@use "mixin.scss" as *;

//
// Boilerplate & Variables
//
:root {
    --color-bg: #111111;
    --color-fg: #ffffff;
    --color-off-white: #e9e7e7;
    --color-gray: #3a3a3a;
    --color-light-gray: gray;
}

* {
    font-family: "Source Sans 3", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    // Surely this won't cause any issues in the future (:
    user-select: none;
}


//
// Main Tree
//
body {
    @include column(start, center);

    height: 100%;
    width: 100%;

    background-color: var(--color-bg);
    color: var(--color-fg);

    &>* {
        width: 100%;
    }

    // Page Header
    &>header {
        @include row(center, center);
        @include padding(medium, 0);
        @include hairline(bottom);

        &>div {
            @include row(start, center);
            @include percent-width(small);
        }
    }

    // Main Content
    &>main {
        @include column(start, center);
        flex-wrap: nowrap;
        overflow-y: scroll;

        // Fills the remaining space
        flex: 1;

        // All Sections
        &>section {
            @include column(start, center);
            @include padding(large, 0, medium, 0);
            @include hairline(bottom);

            width: 100%;

            &>.header {
                @include row(space-between, center);
                @include percent-width(small);
            }

            &>ul {
                @include percent-width(small);
                @include gap($row: medium);
                @include padding(medium, 0);
            }
        }

        // Section Exceptions
        &>section.intro-paragraph {

            &>p:last-of-type {
                @include text-size(small);
                @include padding(medium, 0);
                @include percent-width(medium);

                text-wrap: balance;
                text-align: center;
            }
        }
    }

    // Audio Player Controls
    &>aside#player {
        @include column(center, center);

        &>.progress-bar {
            @include column(center, start);

            width: 100%;

            &>.background {
                background-color: var(--color-gray);
                width: 100%;
                height: 0.25rem;

                &>.foreground {
                    background-color: var(--color-off-white);
                    border-radius: 0 0.05rem 0.05rem 0;

                    width: 0%;
                    height: 100%;
                }
            }
        }

        &>.body {
            @include row(space-between, center);
            @include padding(medium, 0);
            @include percent-width(small);

            &>button {
                @include icon(small, $hover: true);
            }
        }
    }

    // NAV
    &>nav {
        @include row(center);
        @include padding(large, 0);
        @include hairline(top);

        &>div {
            @include row(space-between, center);
            @include percent-width(large);

            &>a {
                @include icon($hover: true);
            }
        }
    }
}


//
// Class Styling
//
.italic {
    @include italic();
}

.bold {
    @include bold();
}

.ellipsis {
    // For it to work, the element must have a fixed width
    width: 10ch;

    line-break: anywhere;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-dom {
    @include row(start, start);
    @include gap($column: medium);
    @include padding(0, small, 0, 0);

    --element-height: 5.6rem;

    width: 100%;
    height: var(--element-height);

    border: solid 1px var(--color-gray);

    overflow-y: hidden;

    &>img {
        width: var(--element-height);
        aspect-ratio: 1/1;
    }

    &>.body {
        @include column(start, start);
        @include gap($row: small);
        @include padding(small, 0, x-small, 0);

        flex: 1;

        height: 100%;

        overflow-x: hidden;

        &>* {
            width: 100%;
        }

        &>.header {
            @include row(space-between, center);
            @include gap($column: x-large);

            &>.title {
                @extend .bold;

                max-width: 60%;
                white-space: nowrap;
                overflow-x: scroll;
            }
            
            &>.info {
                @include text-size(small);
                @include padding(0, small, 0, 0);
                
                flex: 1;
                
                color: var(--color-light-gray);

                text-align: end;
                
                overflow-x: scroll;
                white-space: nowrap;
            }
        }

        &>.description {
            @include text-size(small);

            flex: 1;

            overflow-y: scroll;
        }

        &>.footer {
            @include row(end, center);
            @include gap($column: small);
            @include text-size(small);

            color: var(--color-light-gray);

            &>p {
                @include padding(0, 0, 0, small);
                @extend .ellipsis;

                flex: 1;

                height: 1rem;

                text-align: end;
            }

            &>button {
                @include icon(x-small, $hover: true);
            }
        }
    }
}

// Children of .content-dom
.channel-dom {
    @extend .content-dom;


}

.program-dom {
    @extend .content-dom;

}

.episode-dom {
    @extend .content-dom;

}

.sr-attribute {
    @include row(start, center);
    @include gap(small);
    @include text-size(small);

    &>div:has(img) {
        @include icon(x-small);
    }
}


//
// Tag Styling
//
html {
    @include column(start, center);

    scrollbar-width: thin;

    height: 100dvh;
    width: 100dvw;

    background-color: var(--color-gray);
}

h1 {}

h2 {
    @include text-size(large);
}

h3 {
    @include text-size(large);
}

button {
    @include row(center, center);

    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--color-fg);
    cursor: pointer;

    &:focus {
        appearance: none;
        border: none;
        background-color: transparent;
    }
}

a {
    text-decoration: solid underline var(--color-off-white) 0.03rem;
    color: var(--color-fg);
    cursor: pointer;

    &:focus {
        appearance: none;
        border: none;
        background-color: transparent;
    }
}

ul {
    @include column(start, center);

    list-style-type: none;
}

li {
    width: 100%;
}