@use "mixin.scss" as *;
@use "classes.scss" as *;

//
// Boilerplate & Variables
//
:root {
    --color-bg: #111111;
    --color-fg: #ffffff;
    --color-off-white: #e9e7e7;
    --color-gray: #3a3a3a;
    --color-dark-text: #9b9b9b;
}

* {
    font-family: "Source Sans 3", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    // Surely this won't cause any issues in the future (:
    user-select: none;
}


//
// Main Tree
//
body {
    @include column(start, center);

    height: 100%;
    width: 100%;

    background-color: var(--color-bg);
    color: var(--color-fg);

    &>* {
        width: 100%;
    }

    // Page Header
    &>header {
        @include row(center, center);
        @include padding(medium, 0);
        @include hairline(bottom);

        &>div {
            @include row(start, center);
            @include percent-width(small);
        }
    }

    // Main Content
    &>main {
        @include column(start, center);
        flex-wrap: nowrap;
        overflow-y: scroll;

        // Fills the remaining space
        flex: 1;

        // All Sections
        &>section {
            @include column(start, center);
            @include padding(large, 0, medium, 0);
            @include hairline(bottom);

            width: 100%;

            &>* {
                width: 100%;
                @include percent-width(small);
            }

            &>.header {
                @include row(space-between, center);
            }

            &>ul {
                @include gap($row: medium);
                @include padding(medium, 0);
            }

            &>.show-all {
                @include row(center, center);
                @include padding(0, small);

                &>button {
                    @extend .underline;
                }
            }
        }

        //
        // Section Exceptions
        //
        &>section.intro-paragraph {
            text-align: center;

            &>p:last-of-type {
                @include text-size(small);
                @include padding(medium, 0);
                @include percent-width(medium);

                text-wrap: balance;
                text-align: center;
            }
        }
    }

    // Audio Player Controls
    &>#player {
        @include column(center, center);

        &>.progress-bar {
            @include column(center, start);

            pointer-events: all;
            cursor: pointer;

            width: 100%;

            &>.background {
                background-color: var(--color-gray);
                width: 100%;
                height: 0.25rem;

                &>.foreground {
                    background-color: var(--color-off-white);
                    border-radius: 0 0.05rem 0.05rem 0;

                    width: 0%;
                    height: 100%;
                }
            }
        }

        &>.body {
            @include row(space-between, center);
            @include padding(medium, 0);
            @include percent-width(small);

            &>.content-name {
                @include bold();
            }

            &>button {
                @include icon(small, $hover: true);
            }
        }
    }

    // NAV
    &>nav {
        @include row(center);
        @include padding(large, 0);
        @include hairline(top);

        &>div {
            @include row(space-between, center);
            @include percent-width(large);

            &>a {
                @include icon($hover: true);
            }
        }
    }
}


//
// General Tag Styling
//
html {
    @include column(start, center);

    scrollbar-width: thin;

    height: 100dvh;
    width: 100dvw;

    background-color: var(--color-gray);
}

h1 {}

h2 {
    @include text-size(large);
}

h3 {
    @include text-size(large);
}

button {
    @include row(center, center);

    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--color-fg);
    cursor: pointer;

    &:focus {
        appearance: none;
        border: none;
        background-color: transparent;
    }

    &:active {
        @include dim();
    }
}

a {
    @extend .underline;

    color: var(--color-fg);
    cursor: pointer;

    &:focus {
        appearance: none;
        border: none;
        background-color: transparent;
    }

    &:active {
        @include dim();
    }
}

ul {
    @include column(start, center);

    list-style-type: none;
}

li {
    width: 100%;
}