// Boilerplate
:root {
    --color-bg: #111111;
    --color-fg: #ffffff;
    --color-off-white: #e9e7e7;
    --color-gray: #3a3a3a;
    --color-highlight: #ff0000;
}

* {
    font-family: "Source Sans 3", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "mixin.scss";

// Main Tree
body {
    @include column($justify: start, $align: center);

    height: 100%;
    width: 100%;

    background-color: var(--color-bg);
    color: var(--color-fg);

    &>* {
        width: 100%;
    }

    // Header
    &>header {
        @include row($justify: center, $align: center);
        @include top-bottom-padding($size: medium);
        @include hairline(bottom);

        &>div {
            @include row($justify: start, $align: center);
            @include percent-width($margin: small);
        }
    }

    // Main Content
    &>main {
        @include column($justify: start, $align: center);

        // Fills the remaining space
        flex: 1;

        // All Sections
        &>section {
            @include column($justify: start, $align: center);
            @include top-bottom-padding($size: medium);
            @include padding($direction: top, $size: large);
            @include hairline(bottom);

            width: 100%;

            &>.header {
                @include row($justify: space-between, $align: center);
                @include percent-width($margin: small);

                // SR attribute
                &>div {
                    @include row($justify: space-between, $align: center);
                    @include gap(row, small);
                    @include text-size($size: small);

                    &>img {
                        @include icon($size: x-small);
                    }
                }
            }
        }

        // Section Exemptions
        &>section.intro-paragraph {

            &>p:last-of-type {
                @include text-size($size: small);
                @include top-bottom-padding($size: small);
                @include percent-width($margin: medium);

                text-wrap: balance;
                text-align: center;
            }
        }
    }

    // Audio Player Controls
    &>aside#player {
        @include row($justify: center, $align: center);
        @include top-bottom-padding();

        // background-color: var(--color-gray);
        border-top: solid 0.25rem var(--color-gray);

        &>div {
            @include row($justify: end, $align: center);
            @include percent-width($margin: small);
        }
    }

    // Links To Other Pages
    &>nav {
        @include row($justify: center);
        @include top-bottom-padding($size: large);
        @include hairline(top);

        &>div {
            @include row($justify: space-between, $align: center);
            @include percent-width($margin: large);

            &>a {
                @include icon($hover: true);
            }
        }
    }
}


// Class Styling
html {
    scrollbar-width: thin;

    height: 100dvh;
    width: 100dvw;
}

h1 {}

h2 {
    @include text-size($size: large);
}

h3 {
    @include text-size($size: large);
}

button {
    @include row($justify: center, $align: center);

    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--color-fg);
    cursor: pointer;

    &:hover {
        &>img {
            @include dim();
        }
    }

    &>img {
        @include icon($size: small, $hover: true);
        @include text-size($size: x-large);
    }
}

a {
    text-decoration: solid underline var(--color-off-white) 0.03rem;
    color: var(--color-fg);

    &:hover {
        @include dim();
    }
}

ul {
    list-style-type: none;
}

.italic {
    @include italic();
}

.bold {
    @include bold();
}